<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OddsMissionControl.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OddsMissionControl.My.MySettings.ConnectionString"
            connectionString="Database=OddsMatching;Data Source=eu-cdbr-azure-north-e.cloudapp.net;User Id=b083cb50265fec;Password=263fb5f7" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <OddsMissionControl.My.MySettings>
            <setting name="ProcessLogPath" serializeAs="String">
                <value>c:\#myPrograms\OddsMissionControl\logs\</value>
            </setting>
            <setting name="RemoteFtpServer" serializeAs="String">
                <value>ftp://waws-prod-db3-025.ftp.azurewebsites.windows.net</value>
            </setting>
            <setting name="RemoteServerUser" serializeAs="String">
                <value>WebAppBookmakerFeed20160413071258\paulowensmith19682</value>
            </setting>
            <setting name="RemoteServerPassword" serializeAs="String">
                <value>PS?pos68</value>
            </setting>
            <setting name="MaxFilesToDownload" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RemoteFtpPath" serializeAs="String">
                <value>/site/wwwroot/files/</value>
            </setting>
            <setting name="LocalDownloadPath" serializeAs="String">
                <value>C:\#myFiles\Downloaded\</value>
            </setting>
            <setting name="DummyServiceConfigFname" serializeAs="String">
                <value>C:\#myPrograms\DummyService\program\DummyService.exe.config</value>
            </setting>
            <setting name="ConfigEditor" serializeAs="String">
                <value>C:\Program Files (x86)\Notepad++\notepad++.exe</value>
            </setting>
            <setting name="DownloadSpocosyFilesServiceConfigFname" serializeAs="String">
                <value>C:\#myPrograms\DownloadSpocosyFilesService\program\DownloadSpocosyFilesService.exe.config</value>
            </setting>
            <setting name="LoadSpocosyFilesToDbService1ConfigFname" serializeAs="String">
                <value>C:\#myPrograms\LoadSpocosyFilesToDbService\program1\LoadSpocosyFilesToDbService.exe.config</value>
            </setting>
            <setting name="LoadSpocosyFilesToDbService2ConfigFname" serializeAs="String">
                <value>C:\#myPrograms\LoadSpocosyFilesToDbService\program2\LoadSpocosyFilesToDbService.exe.config</value>
            </setting>
            <setting name="LoadSpocosyFilesToDbService3ConfigFname" serializeAs="String">
                <value>C:\#myPrograms\LoadSpocosyFilesToDbService\program3\LoadSpocosyFilesToDbService.exe.config</value>
            </setting>
            <setting name="LoadSpocosyFilesToDbService4ConfigFname" serializeAs="String">
                <value>C:\#myPrograms\LoadSpocosyFilesToDbService\program4\LoadSpocosyFilesToDbService.exe.config</value>
            </setting>
            <setting name="LoadSpocosyFilesToDbService5ConfigFname" serializeAs="String">
                <value>C:\#myPrograms\LoadSpocosyFilesToDbService\program5\LoadSpocosyFilesToDbService.exe.config</value>
            </setting>
            <setting name="LoadSpocosyDataServiceAConfgFname" serializeAs="String">
                <value>C:\#myPrograms\LoadSpocosyDataService\programA\LoadSpocosyDataService.exe.config</value>
            </setting>
            <setting name="LoadSpocosyDataServiceBConfgFname" serializeAs="String">
                <value>C:\#myPrograms\LoadSpocosyDataService\programB\LoadSpocosyDataService.exe.config</value>
            </setting>
            <setting name="LoadSpocosyDataServiceCConfgFname" serializeAs="String">
                <value>C:\#myPrograms\LoadSpocosyDataService\programC\LoadSpocosyDataService.exe.config</value>
            </setting>
            <setting name="LoadSpocosyDataServiceDConfgFname" serializeAs="String">
                <value>C:\#myPrograms\LoadSpocosyDataService\programD\LoadSpocosyDataService.exe.config</value>
            </setting>
            <setting name="LoadSpocosyDataServiceEConfgFname" serializeAs="String">
                <value>C:\#myPrograms\LoadSpocosyDataService\programE\LoadSpocosyDataService.exe.config</value>
            </setting>
            <setting name="LoadSpocosyDataServiceXConfgFname" serializeAs="String">
                <value>C:\#myPrograms\LoadSpocosyDataService\programX\LoadSpocosyDataService.exe.config</value>
            </setting>
            <setting name="BetFairFeedServiceConfigFname" serializeAs="String">
                <value>C:\#myPrograms\BetFairFeedService\program\BetFairFeedService.exe.config</value>
            </setting>
        </OddsMissionControl.My.MySettings>
    </userSettings>
</configuration>